<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Docs</title>
    {{ encore_entry_link_tags('swagger-ui') }}
</head>
<body>
<div id="swagger-ui"></div>
{{ encore_entry_script_tags('swagger-ui') }}
</body>
</html>
